html {
  padding: 8px;
}
head {

}
body {

}

ul.nav-bar {
  list-style: none;
  flex-direction: row;
  margin-right: auto!important;
  display: flex;

}
li {
  padding: 4px;
  padding-left: 20px;
}
a.nav-links {
  text-decoration: none;
  padding-top: 4px;
}
img#logo {
  padding: 0px;
  padding-right: 10px;
}
